.contact{
    padding-top: 300px;
    position: relative;
    bottom: 60px;
    left: 30px;
}
.contact__container{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 40%;
    gap: 20%;
    padding-left: 180px;
    position: relative;
    right: 0px;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);

}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

@media screen and (max-width:1024px){

    .contact{
        position: relative;
        top: 1500px;
    }
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        position: relative;
        right: 80px;
    }
}


@media screen and (max-width:425px){
    .contact{
        position: relative;
        top: 3450px;
        left: 100px;
    }
    .container.contact__container{
        width: 100%;
        position: relative;
        right: 80px;
        
    }
}

  
