.footer{
    height: 500px;
    padding-top: 300px;
    
}

@media screen and (max-width: 1024px){
    .footer{
        position: relative;
        top: 2060px;
    }
    
    }

@media screen and (max-width: 425px){
    .footer{
        position: relative;
        top: 3800px;
        left: 60px;
    }
        
    }